<?xml version="1.0"?>

<!-- Launch file for gmapping -->

<launch>


   <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" respawn="true">
      <remap from="scan" to="base_scan" />
      <param name="maxUrange" value="30.0" />
      <param name="base_frame" value="base_link" />
   </node>
   
</launch>