<?xml version="1.0" ?>
<model>
    <name>forest</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Guy Corbaz</name>
        <email>guy@corbaz.org</email>
    </author>
    <description>
        Forest for Gribot simulation
    </description>
</model>
