<?xml version="1.0"?>

<!-- Launch file for move_base -->

<launch>


   <node pkg="amcl" type="amcl" respawn="false" name="amcl" output="screen">
      <remap from="scan" to="base_scan" />
      <param name="base_frame" value="base_link" />
      <param name="laser_min_range" value="0.1" />
      <param name="laser_max_range" value="30.0" />
   </node>

</launch>